/*Надпись*/
.footer__copyright {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #545454;
  margin: 0;
  min-width: 282px;
}

@media screen and (max-width: 540px) {
  .footer__copyright {
    font-size: 14px;
    line-height: 17px;
  }
}
