/*Кнопка сохранить*/
.popup__button-close {
  position: relative;
  top: -72px;
  left: 400px;
  padding: 0;
  border: 0;
  background: none;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .popup__button-close {
    top: -61px;
    left: 240px;
  }
}
