/*Кнопка сохранить*/
.popup__button-close {
  padding: 0;
  border: 0;
  background: none;
  cursor: pointer;
  transform: translate(401px, -349px);
}

@media screen and (max-width: 600px) {
  .popup__button-close {
    transform: translate(240px, -343px);
  }
}
